.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden.hidden {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.object-cover.object-cover {
  object-fit: cover;
}
.page {
  position: absolute;
  opacity: 1;
  text-align: center;
  letter-spacing: 0.125em;
  text-shadow: 2px 2px #333;
  padding: 30px 120px;
  transition: opacity 0.3s ease-in-out;
}
.full-height-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}